.absolute-blobber {
    height: 100px;
    margin: 0 auto;
    margin-top: -50px;
    overflow: hidden;
    border-radius: 25px;
    width: 80%;
    box-shadow: 0 0 25px 1px black;
    background-color: white;
}

.absolute-blobber div:last-child {
    margin-top: auto;
}

.absolute-blobber > form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.purp-man {
    height: 15px;
    background-color: #845ec2;
}

.gray-rounded-square {
    background-color: lightgray;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    color: #969696;
}

.gray-rounded-square button:last-child {
    margin-left: auto;
}

#keyboard {
    height: 75%;
    align-self: center;
}

.vertical-line {
    margin-left: 10%;
    border-left: 2px solid gray;
    height: 100%;
}

.login-input {
    background-color: lightgray;
    border: 0px solid;
    font-size: large;
}

.login-input:focus{
    outline: none;
}

.login-button {
    align-self: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #845ec2;
    color: white;
    font-size: larger;
    font-weight: bold;
}