.flex-1 {
    flex: 1;
}

#translation-form {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#translation-notes {
    width: 100%;
    display: flex;
    justify-content: center;
}

#translation-display {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.translated-word {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

}
.translation-icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100px;
}

.translation-icon-button img {
    height: 75%;
}


