#profile {
    margin: 0;
    padding: 0;
    align-content: center;
    width: 100%;
}

h1 {
    margin-bottom: 0;
    padding: 0;
}

li {
    padding: 10px 20px;
}

ul {
    padding: 0;
    list-style-type: none;
}

