/* Some element forced some uneccesary spacing so we remove it all!*/
* {
    margin: 0;
}

.navbar {
    display: flex;
    height: 50px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding: 5px;
    margin-bottom: 0;
}

.navbar div {
    margin: 5px;
}

.navbar div:last-child {
    margin-left: auto;
}

.navbarLogo {
    position: relative;
    height: 100%;
    width: 40px;
}

/* Configure splash art to end up under image*/
.over {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.under {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 0;
}

.profile-navbar {
    display: flex;
    height: 100%;
    align-items: center;
}

.user-icon {
    height: 100%;
}

/* Make <hr> visible */
hr {
    margin: 0;
    border: 0;
    width: 100%;               
    background-color:black;
    height: 1px;
  }