html,
body,
#root,
.App {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#startup {
    align-content: center;
    width: 100%;
}

.yellow-background {
    background-color: #ffc75f;
}


.content {
    width: 500px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .content {
        width: 768px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.welcomeBox {
    display: flex;
    height: 30vh;
    padding: 5%;
    margin: 0 auto; /* Center*/
}

.heading {
    color: white;
    font-family: "Love Ya Like A Sister", cursive;
}

#welcome-logo {
    height: 50%;
}

#login-error-message {
    align-self: center;
    text-align: center;
    color: red;
}

#login-confirm-message {
    align-self: center;
    text-align: center;
}

/* style={{ display: "flex", height: "40vh" }} */

/* YELLOW: #FFC75F
YELLOW_DARK: #E7B355
PURPLE: #845EC2

LIGHT_GREY: #EFEFEF (Inputs)
GREY: #969696 (Text)

GOOGLE FONTS:
Headings
Love Ya Like A Sister:
https://fonts.google.com/specimen/Love+Ya+Like+A+Sister?query=Love+Ya+Like+a+sister

Body Text
Sanchez:
https://fonts.google.com/specimen/Sanchez?query=Sanchez */
